<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Spike" class="com.example.course09.model.Crew">
        <property name="name" value="spike"/>
        <property name="sex" value="1"/>
        <property name="species" value="human"/>
    </bean>


</beans>